.features {
  margin-top: 50px;
  margin-bottom: 50px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    &__title {
      > h1 {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 20px;
        font-weight: 400;
        text-transform: uppercase;
        @include breakpoint(sm) {
          font-size: 1.5rem;
          padding-bottom: 0;
        }
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include breakpoint(lg) {
        justify-content: center;
      }
    }
  }
  &__box {
    cursor: pointer;
    width: 290px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    color: #fff;
    border-radius: 8px;
    padding: 30px 40px;
    @include breakpoint(xs) {
      margin-top: 10px;
    }
    > p {
      margin-top: 10px;
      font-size: 0.9rem;
    }
  }
}
