.hero {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(md) {
      max-width: 700px;
    }
    &__background {
      > img {
        width: 100%;
      }
    }
    &__wrapper {
      position: absolute;
      left: 20px;
      bottom: 50px;
      width: 500px;
      @include breakpoint(md) {
        width: 100%;
      }
    }
  }
  &__title {
    > h1 {
      color: #fff;
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
      @include breakpoint(sm) {
        font-size: 1.5rem;
        padding-bottom: 0;
      }
    }
  }
  &__text {
    > p {
      color: #fff;
      @include breakpoint(md) {
        display: none;
      }
    }
  }
  &__btn {
    > button {
      margin-top: 20px;
      width: 250px;
      height: 45px;
      cursor: pointer;
      font-size: 20px;
      background-color: purple;
      color: #fff;
      @include breakpoint(lg) {
        width: 150px;
        font-size: 1rem;
      }
      @include breakpoint(xs) {
        margin-top: 5px;
        width: 100px;
        height: 30px;
        font-size: 0.7rem;
      }
    }
  }
  &__rating {
    h3 {
      color: #fff;
    }
  }
}
