.movieitem {
  padding: 30px 0;
  > div > h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
    @include breakpoint(sm) {
      font-size: 1.5rem;
      padding-bottom: 0;
    }
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      flex-wrap: wrap;
    }
    > button {
      padding: 8px 20px;
      background: linear-gradient(180deg, #6c1f41 0%, #210d0e 100%);

      color: #fff;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
        @include breakpoint(sm) {
          margin-right: 0;
        }
      }
    }
  }
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(sm) {
      max-width: 400px;
    }
  }
  &__card {
    margin: 15px;

    text-align: center;
    cursor: pointer;
    > img {
      max-width: 250px;
      height: 400px;
      object-fit: cover;
      border-radius: 8px;
      @include breakpoint(sm) {
        max-width: 150px;
        height: 200px;
      }
    }
    > h3 {
      @include breakpoint(sm) {
        font-size: 1rem;
      }
    }
  }
}
