.slider {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(md) {
      max-width: 700px;
    }
    @include breakpoint(sm) {
      max-width: 400px;
    }
    &__title {
      text-align: center;
      margin-bottom: 5px;
      > h2 {
        font-size: 3rem;
        padding-bottom: 20px;
        font-weight: 400;
        text-transform: uppercase;
        @include breakpoint(sm) {
          font-size: 1.5rem;
          padding-bottom: 0;
        }
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      width: 100px;
      height: 30px;
      cursor: pointer;
      background-color: purple;
      color: #fff;
      @include breakpoint(sm) {
        max-width: 70px;
        height: 20px;
        font-size: 0.6rem;
      }
    }
  }
}
